.form {
  margin: auto;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #838383;
  margin-top: 8px;
  margin-bottom: 32px;
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 24px;
  max-width: 385px;
  max-height: 60px;
  width: 100%;
}

.form__input::placeholder {
  font-family: Inter, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border: none;
  border-radius: 4px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  min-height: 60px;
  background-color: #2f80ed;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: 0.3s ease-in-out;
  padding: 20px 24px;
  width: 100%;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__fieldset_checkbox {
  display: flex;
  justify-content: center;
}
